  <div data-controller="edit-toggle">
    <div class="container mx-auto my-5 p-5">
      <div class="md:flex no-wrap md:-mx-2 ">
        <div class="w-full md:w-3/12 md:mx-2">
          <div class="bg-white p-3 border-t-4 border-[#4343bf]">
            <div class="relative">
            <div>
              <%= image_tag url_for(@user.avatar), class:'h-auto w-20 border-2 border-[#4343bf] rounded-md' %>
            </div>
            <%  if @user == current_user %>
            <div class="absolute -top-2 left-16 bg-[#4343bf] rounded-full text-white w-6 h-6 text-center hover:bg-gray-100 hover:text-[#4343bf]">
              <button data-action="click->edit-toggle#toggle" class="fa fa-edit cursor-pointer"></button>
            </div>
            <% end %>
            </div>
            <h1 class="text-gray-900 font-bold text-xl leading-8 my-1"><%= @user.first_name %> <%= @user.last_name %></h1>
            <h3 class="text-gray-600 font-lg text-semibold leading-6">Owner at Her Company Inc.</h3>
            <p class="text-sm text-gray-500 hover:text-gray-600 leading-6">Lorem ipsum dolor sit amet
              consectetur adipisicing elit.
              Reprehenderit, eligendi dolorum sequi illum qui unde aspernatur non deserunt</p>
            <ul
              class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
              <li class="flex items-center py-3">
                <span>Role</span>
                <span class="ml-auto"><span
                    class="bg-green-500 py-1 px-2 rounded text-white text-sm"><%= @user.role.capitalize %></span></span>
              </li>
              <li class="flex items-center py-3">
                <span>Member since</span>
                <span class="ml-auto"><%= @user.created_at.strftime("%B %d, %Y") %></span> 
              </li>
            </ul>
          </div>
        </div>
        <div class="bg-gray-50 p-3 shadow-sm rounded-sm relative">
          <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
            <span clas="text-green-500">
              <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
              </svg>
            </span>
            <span class="tracking-wide">About</span>
          </div>
          <div class="hidden" id="form-with-input">
            <%= render 'devise/registrations/edit_form_with_input', resource_name: @user, resource: @user %>
          </div>
          <div id="form-without-input">
            <%= render 'devise/registrations/edit_form', resource_name: @user, resource: @user %>
          </div>
          <% if @user == current_user %>
          <button
            data-action="click->edit-toggle#toggle"
            class="absolute bottom-0 right-0 w-1/2 text-white bg-[#4343bf] text-sm font-semibold rounded-lg hover:bg-gray-100 hover:text-[#4343bf] hover:shadow-xs p-3 my-4">
            Edit Profile</button>
          <% end %>
        </div>
      </div>
    </div>
