<section class="features section">
   <div class="container">
     <div class="features-inner section-inner has-bottom-divider">
          <div class="features-header text-center">
              <div class="container-sm">
                <h2 class="section-title mt-0">Latest Posts</h2>
              </div>
          </div>
        <div class="features-wrap">
          <% @posts.each do |post, index| %>
            <div class="feature text-center is-revealing">
               <div class="feature-inner">
                 <div class="feature-icon">
                  <% if post.image.present? %>
                    <%= image_tag url_for(post.image), alt: "image-#{post.title}",class: "border-solid border-2 border-blue-500 rounded-lg" %>
                  <% else %>
                    <%= image_tag "https://wallpaperaccess.com/full/1673364.png", class: "border-solid border-2 border-blue-500 rounded-lg" %>
                  <% end %>
                 </div>
                  <h4 class="feature-title mt-24"><%= post.title %></h4>
                  <p class="text-sm mb-0"><%= post.summary.slice(0, 100) %>...</p>
                  <div class="mt-2">
                  <div class="testimonial-item-footer text-xs  flex justify-center items-center">
                    <%= image_tag url_for(User.find(post.user_id).avatar), class: "avatar avatar-small mr-12 w-12 h-12 bg-white rounded-full" %>
                    <%= post.created_at.strftime("%B %d, %Y") %>
                  </div> 
                    <%= link_to 'Read more', post_path(post), class: "button button-primary button-wide-mobile button-sm mt-5" %>

                  </div>
               </div>
            </div>
          <% end %>
         </div>
      </div>
   </div>
</section>
