<div id="<%= dom_id post %>" class="py-8 flex flex-wrap md:flex-nowrap">
   <% @user = User.find(post.user_id) %>
   <div class="mt-8 lg:-mx-6 lg:flex lg:items-center">
      <% if post.image.present? %>
         <img class="object-cover w-full lg:mx-6 lg:w-1/2 rounded-xl h-72 lg:h-96" src="<%= url_for(post.image) %>"alt="">
      <% end %>
      <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 ">
         <p class="text-sm text-blue-500 uppercase"><%= post.tag %></p>
         <a href="#" class="block mt-4 text-2xl font-semibold text-black hover:underline md:text-3xl">
         <%= post.title %>
         </a>
         <p class="mt-3 text-sm text-gray-500  md:text-sm">
            <%= post.summary %>
         </p>
         <a class="text-indigo-500 inline-flex items-center mt-4" href="<%= post_path(post) %>">
            Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
               <path d="M5 12h14"></path>
               <path d="M12 5l7 7-7 7"></path>
            </svg>
         </a>
         <div class="flex items-center mt-6">
            <a href="<%= user_path(@user) %>">
            <img class="object-cover object-center w-10 h-10 rounded-full" src="<%= url_for(@user.avatar) %>" alt="">
            </a>
            <div class="mx-4">
              <h1 class="text-sm text-gray-500 italic"><%= @user.first_name %> <%= @user.last_name %></h1>
                <p class="text-sm text-gray-500"><span class="tex-xs">Created at.</span><%= post.created_at.strftime("%B %d, %Y") %></p>
            </div>
         </div>
      </div>
   </div>
</div>


       
