<div id="<%= dom_id post %>" class="py-8 flex flex-wrap md:flex-nowrap">
  <% @user = User.find(post.user_id) %>
  <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
    <span class="font-semibold title-font text-gray-700">CATEGORY</span>
    <span class="mt-1 text-gray-500 text-sm"><%= post.created_at.strftime("%B %d, %Y") %></span>
    <%= image_tag url_for(post.image), class: "h-32 rounded w-32 object-cover object-center mb-4" %> 
<div class="flex justify-center">
    <span class="mt-1 text-gray-500 text-sm">By <%= @user.first_name %></span>
    <%= image_tag url_for(@user.avatar), class: "h-10 w-10 rounded-full object-cover object-center" %>
</div>
</div>
  <div class="md:flex-grow">
    <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"><%= post.title %></h2>
    <p class="leading-relaxed"><%= post.summary %></p>
    <a class="text-indigo-500 inline-flex items-center mt-4" href="<%= post_path(post) %>">Learn More
      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M5 12h14"></path>
        <path d="M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</div>
