<section class="cta section mt-2" id="<%= dom_id post %>">
  <% @user = User.find(post.user_id) %>
  <div class="container flex">
    <% if post.image.attached? %>
      <img class="object-cover w-full lg:w-1/2 rounded-xl border-4 border-solid border-blue-400 rounded-lg" src="<%= url_for(post.image) %>" alt="">
    <% else %>
      <img class="object-cover w-full lg:w-1/2 rounded-xl border-4 border-solid border-blue-400 rounded-lg" src="https://wallpaperaccess.com/full/1673364.png" alt="">
    <% end %>

    <div class="cta-inner section-inner">
      <div class="flex flex-col">
        <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-green-600/20 w-1/4 text-center aligns-center justify-center">
          <%= post.tag %>
        </span>
        <h3 class=""><%= post.title %></h3>
        <p><%= truncate(post.summary, length: 100) %>...</p>
        <div class="cta-cta">
          <a class="text-blue-500 inline-flex items-center" href="<%= post_path(post) %>">
            Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          
          <div class="testimonial-item-footer text-xs  flex justify-center items-center">
              <a href="<%= user_path(@user) %>">

                <%= image_tag url_for(@user.avatar), class: "avatar avatar-small mr-2  w-12 h-12 bg-white rounded-full" %>
              </a>
              <span class="text-white mr-2"><%= @user.first_name %> <%= @user.last_name %></span>
              <%= post.created_at.strftime("%B %d, %Y") %>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

