<section class="cta section mt-2" id="<%= dom_id post %>">
  <% @user = User.find(post.user_id) %>
  <div class="container flex">
    <% if post.image.attached? %>
      <img class="object-cover w-full lg:w-1/2 rounded-xl border-4 border-solid border-blue-400 rounded-lg" src="<%= url_for(post.image) %>" alt="">
    <% else %>
      <img class="object-cover w-full lg:w-1/2 rounded-xl border-4 border-solid border-blue-400 rounded-lg" src="https://wallpaperaccess.com/full/1673364.png" alt="">
    <% end %>

    <div class="cta-inner section-inner">
      <div class="flex flex-col">
        <h3 class=""><%= post.title %></h3>
        <p><%= truncate(post.summary, length: 100) %>...</p>
        <div class="cta-cta">
          <a class="text-blue-500 inline-flex items-center" href="<%= post_path(post) %>">
            Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <div class="flex items-center aligns-center">
            <a href="<%= user_path(@user) %>">
              <img class="object-cover object-center w-10 h-10 rounded-full bg-white" src="<%= url_for(@user.avatar) %>" alt="">
            </a>
            <div class="">
              <h1 class="text-sm text-gray-500 italic"><%= @user.first_name %></h1>
              <p class="text-sm text-gray-500"><%= post.created_at.strftime("%B %d, %Y") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

