<div class="w-full">
   <div class="min-w-full">
      <section class="text-gray-600 body-font overflow-hidden">
         <div class=" mx-auto">
            <div class=" divide-gray-100">
               <div class="flex justify-center">
                  <div class="border-r-solid border-r-4 border-blue-500 p-4 w-[25vw]">
                     <div class="flex">
                        <%= form_with url: search_path, method: :get do |form| %>
                        <div>
                           <%= form.label :search, "Search", class: "block mt-3 text-sm text-white" %>
                        </div>
                        <div class="flex gap-5 m-2">
                           <%= form.text_field :search, class: "w-full px-5 py-1 text-gray-700 bg-white rounded" %>
                           <%= form.submit "Search", class: "p-2 text-[#4343bf] bg-white rounded-md hover:bg-gray-100 hover:text-white" %>
                        </div>
                        <% end %>
                     </div>
                     <div class="flex m-2 flex-wrap justify-center aligns-center">
                        <%= form_with url: search_with_tag_path, method: :get do |form| %>
                        <%  Post.tags.keys.each do |tag| %>
                           <%= form.submit tag, class: "text-[#4343bf] bg-white rounded-md hover:bg-gray-100 hover:text-white uppercase w-1/4 p-4 mt-2" %>
                           <% end %>
                        <% end %>
                     </div>
                  </div>
                  <div id="posts" class="px-12">
                     <%= render 'posts/posts', posts: @posts %>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>

