<!DOCTYPE html>
<html>
  <head>
    <title>CSFD-Cyber Security for Developers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'icon.svg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="font-family: 'Source Sans Pro', sans-serif;">
    <main>
      <%= render 'layouts/navbar' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
